<div class="relative" data-controller="share-link-popover">
        <!-- trigger button ------------------------------------------------------->
          <%= render AddbuttonComponent.new(
              label: "Link ingreso",
              link:  "#",
              data:  {
                action:     "share-link-popover#toggle"
              }
            ) %>
        <!-- popover panel -------------------------------------------------------->
        <div data-share-link-popover-target="panel"
            class="absolute left-1/2 -translate-x-1/2 mt-2 w-auto rounded-xl shadow-lg border bg-green-800 p-4 space-y-3 hidden z-20 animate-fade-in">

          <p class="text-sm font-semibold text-slate-50">Compartí este link para ingresar prospectos</p>

          <div class="flex gap-2">
            <input type="text"
                  readonly
                  class="flex-1 border rounded px-2 py-1 text-sm"
                  value="localhost:3000/signup/<%= current_user.form_token %>"
                  data-share-link-popover-target="textbox"
                  data-action="click->share-link-popover#copy">

            <button class="shrink-0 px-3 py-1 rounded bg-green-500 text-white text-sm"
                    data-action="share-link-popover#copy">
              Copiar
            </button>
          </div>
        </div>
      </div>