      <aside class="col-start-1 col-end-2 flex-col px-8 py-7 mx-6 rounded-xl bg-sky-950 text-slate-100">
        <div class="text-4xl mb-28 font-bold">Tikertraker</div>
        <div class="text-xl mb-1">Dashboard</div>
        <div class="text-xl mb-1">Leads</div>
        <div class="text-xl mb-1">Clientes</div>
      </aside>