<div class="container col-span-6 mx-auto p-4 flex-col justify-center content-center">
  <h1 class="text-7xl font-bold mb-4 text-center">Gracias, <%= @lead.name %> <%= @lead.last_name %>!</h1>
  <p class="text-gray-700 text-center">Apreciamos tu interés, y estaremos en contacto pronto</p>
</div>